.container{
  height: 120vh;
  background-color: #303030;
}
img{
  float: left;

}
mat-icon{
  vertical-align: middle;
  display: inline;
}
span{
  vertical-align: middle;
  display: inline;
  padding-left: .2rem;
  padding-right: .7rem;
}
strong {
  padding-top: 1rem;
}
.details{
  float: right;
  width: 57%;
  padding-right: 10%;
  color: white;
}
h1{
  margin-top: 0;
}

.details img{
  padding-right: 12px;
  margin-right:5px;

}
credits {
  margin: 0 auto;
}
mat-card{
  width: 50px;
  float: left;
  margin: 8px;
  font-size: x-small;
}
h2{
  margin-left: 8px;
  color: white;
}
.gallery img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: left;
  margin-right: 2%;
  margin-top:2%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
