.container-fluid {
  margin: auto;
  width: 100%;
  padding: 0;
}
.category {
  margin: auto;
  width: 100%;
}
mat-card {
  width: 20%;
  float: left;
  text-align: center;
  margin: .4%;
  padding-bottom: 0;

}
mat-card-title {
  font-size: medium;
  font-weight: bold;
  text-align: center;

}
h4 {
  margin-left: .4%;
  margin-bottom: 0;
  font-size: 1.5em;
}
.mat-card-image {
  width: 50%;
  float:left;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
mat-card-content{
  width: 50%;
  float: right;
  text-align: left;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


