.container-fluid {
  margin: auto;
  width: 100%;
  padding: 0;
}
.category {
  margin: auto;
  width: 100%;
}
.mat-card {
  width: 22%;
  float: left;
  text-align: center;
  margin: .4%;

}
.mat-card-title {
  font-size: small;
}
h4 {
  margin-left: .4%;
  margin-bottom: 0;
  font-size: 1.5em;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


